{% include "cabs_admin/header.html" %}

<center>
<div role="main">
<table class="table_list">
    <tr><td> Address </td></tr>
    <tr></tr>
{% for address in black_list %}
    <tr>
        <form action="{% url 'cabs_admin:blacklistPage' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="address" value="{{address.address}}">
        <td> 
        {{address.address}}
        <input class="button rm" type="submit" name="rm" value="X">
        <input class="button rm" type="submit" name="toggle" value="{% if address.banned %}Banned" style="background-color: black; color: white{% else %}Not Banned{% endif %}"> 
        <input class="button rm" type="submit" name="whitelist" value="Add to Whitelist">
        </form>
        </td>
    </tr>
{% endfor %}
</table>
<hr/>
<div class="container">
    <h2>Add an Entry</h2>
    <form action="{% url 'cabs_admin:blacklistPage' %}" method="post">
    {% csrf_token %}
    <label>Address:</label>
    <input type="text" name="address" title="Address">
    <input class="button" type="submit" value="Submit">
    </form>
</div>
</div>
</center>
