{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'cabs_admin/style.css' %}" />

<div id="top" role="banner"><div class="container">
<a class="logo" href="{% url 'cabs_admin:index' %}">CABS Admin Console</a>
<div id="menu">
<ul role="navigation">
    <li class="nav"><a href="{% url 'cabs_admin:machinesPage' %}">Machines</a></li>
    <li class="nav"><a href="{% url 'cabs_admin:poolsPage' %}">Pools</a></li>
    <li class="nav"><a href="{% url 'cabs_admin:settingsPage' %}">Settings</a></li>
    <li class="nav"><a href="{% url 'cabs_admin:blacklistPage' %}">Blacklist</a></li>
    <li class="nav"><a href="{% url 'cabs_admin:historyPage' %}">History</a></li>
</ul>
</div>

</div></div>

{% if section_name %}
    <div id="sub-banner"><div class="container">
    <h1> {{section_name}} </h1>
    </div></div>
{% endif %}

