{% include "cabs_admin/header.html" %}


<table class="table table-bordered table-hover">
    <tr><th> Blacklisted Address </th></tr>
    <tr></tr>
{% for address in black_list %}
    <tr>
        <form action="{% url 'cabs_admin:toggleBlacklist' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="address" value="{{address.address}}">
        <td> 
        {{address.address}}
        <button class="btn btn-danger pull-right" type="submit" name="rm">X</button>
        <button class="btn btn-default pull-right" type="submit" name="whitelist">Add to Whitelist</button>
        <button type="submit" name="toggle"
            {% if address.banned %}
                class="btn btn-primary active pull-right" title="{{machine.reason}}" data-toggle="tooltip" data-placement="left" checked>Banned
            {% else %}
                class="btn btn-default pull-right">Not Banned
            {% endif %}</button> 
        </form>
        </td>
    </tr>
{% endfor %}
</table>

<hr/>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Add a Blacklist Entry</h3>
    </div>
    <div class="panel-body">
        <form action="{% url 'cabs_admin:setBlacklist' %}" method="post" class="form-inline">
        {% csrf_token %}
        <div class="form-group">
            <label for="machine">Address:</label>
            <input type="text" class="form-control" name="address" title="Address">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

<hr/>

{% if white_list %}
<table class="table table-bordered table-hover">
    <tr><th> Whitelisted Address </th></tr>
    <tr></tr>
{% for address in white_list %}
    <tr>
        <form action="{% url 'cabs_admin:rmWhitelist' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="address" value="{{address.address}}">
        <td> 
        {{address.address}}
        <button class="btn btn-danger pull-right" type="submit" name="rm">X</button>
        </form>
        </td>
    </tr>
{% endfor %}
</table>
{% endif %}

<hr/>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Add a Whitelist Entry</h3>
    </div>
    <div class="panel-body">
        <form action="{% url 'cabs_admin:setWhitelist' %}" method="post" class="form-inline">
        {% csrf_token %}
        <div class="form-group">
            <label for="machine">Address:</label>
            <input type="text" class="form-control" name="address" title="Address">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

{% include "cabs_admin/footer.html" %}
