{% include "cabs_admin/header.html" %}

<center>
<div role="main">

<div style="height: 2.1rem">
{% if selected_machine %}
    <form action="{% url 'cabs_admin:commentMachines' %}" method="post">
    {% csrf_token %}
        <label>Explain why {{selected_machine}} is disabled:</label>
        <input type="text" name="reason" title="Reason">
        <input type="hidden" name="machine" value="{{selected_machine}}">
        <input class="button rm" type="submit" value="OK" style="float: inherit">
    </form>
{% else %}
Hover over the Disabled buttons to see the reason why they were disabled.
{% endif %}
</div>
<table class="table_list">
    <tr><td> Machine </td><td> Pool </td><td> User </td><td> Active </td></tr>
    <tr></tr>
{% for machine in machine_list %}
    <tr>
        <form action="{% url 'cabs_admin:toggleMachines' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="machine" value="{{machine.machine}}">
        <td> {{machine.machine}} </td>
        <td> {{machine.name}} </td>
        <td> {{machine.user}} </td>
        <td> 
        {{machine.active}}
        <input class="button rm" type="submit" name="rm" value="X">
        <button class="button rm" type="submit" name="toggle" value="{{machine.machine}}" {% if machine.deactivated %} title="{{machine.reason}}"style="background-color: black; color: white">Disabled{% else %}>Enabled{% endif %}</button>
        </form>
        </td>
    </tr>
{% endfor %}
</table>

<hr/>
<div class="container">
    <h2>Add/Change a Machine</h2>
    <p>Note that to add a machine, you must also install the CABS Agent on it.</p>
    <form action="{% url 'cabs_admin:setMachines' %}" method="post">
    {% csrf_token %}
    <label>Machine Name:</label>
    <input type="text" name="machine" title="Machine Name" pattern="^\w+$">
    <label>Pool:</label>
    <input type="text" name="name" title="Machine Pool" pattern="^\w+$">
    <input class="button" type="submit" value="Submit">
    </form>
</div>
</div>
</center>
