{% include "cabs_admin/header.html" %}

<table class="table table-bordered table-hover">
    <tr><th> Pool </th><th> Description </th><th> Secondary </th><th> Groups </th></tr>
    <tr></tr>
{% for pool in pool_list %}
    <tr {% if pool.deactivated %} class="danger" {% endif %}>
        <form action="{% url 'cabs_admin:togglePools' %}" method="post" name="toggleMachine">
        {% csrf_token %}
        <input type="hidden" name="pool" value="{{pool.name}}">
        <td> {{pool.name}} </td>
        <td> {{pool.description}} </td>
        <td> {{pool.secondary}} </td>
        <td> {{pool.groups}}
        <input class="btn btn-danger pull-right" type="submit" name="rm" onclick="return confirm('Are you sure you would like to remove {{ pool.name }}?');" value="X">
        <button type="submit" name="toggle" value="{{pool.name}}"
            {% if pool.deactivated and selected_pool == pool.name %}
               class="btn btn-primary active pull-right" title="Deactivation Reason" data-html="true" data-toggle="popover" data-placement="left" data-content="
    <form action='{% url 'cabs_admin:commentPools' %}' method='post'>
    {% csrf_token %}
        <input type='text' name='reason' title='Reason'>
        <input type='hidden' name='pool' value='{{selected_pool}}'>
        <button class='btn btn-primary' type='submit'>OK</button>
    </form>
" checked>Disabled 
            {% elif pool.deactivated %}
                class="btn btn-primary active pull-right" title="{{pool.reason}}" data-toggle="tooltip" data-placement="left" checked>Disabled
            {% else %}
                class="btn btn-default pull-right">Enabled
            {% endif %}</button>
        </td>
        </form>
    </tr>
{% endfor %}
</table>
<hr/>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Add/Change a Pool</h3>
    </div>
    <div class="panel-body">
        <p>Note that to add a machine, you must also install the CABS Agent on it.</p>
        <form action="{% url 'cabs_admin:setPools' %}" method="post" class="form-inline">
        {% csrf_token %}
        <div class="form-group">
            <label for="name">Pool Name:</label>
            <input type="text" class="form-control" name="name" title="Pool Name" data-toggle="tooltip" data-placement="top" pattern="^[\w-_]+$">
        </div>
        <div class="form-group">
            <label for="description">Pool Description:</label>
            <input type="text" class="form-control" name="description" title="Pool Description" data-toggle="tooltip" data-placement="top">
        </div>
        <div class="form-group">
            <label for="secondary">Secondary Pools:</label>
            <input type="text" class="form-control" name="secondary" title="Comma seaprated list of Secondary Pools" data-toggle="tooltip" data-placement="top" pattern="^([\w-_]+(,[\w-_]+)*)|()$">
        </div>
        <div class="form-group">
            <label for="groups">Authorized Groups:</label>
            <input type="text" class="form-control" name="groups" title="Comma seaprated list of Groups" data-toggle="tooltip" data-placement="top" pattern="^([\w-_]+(,[\w-_]+)*)|()$">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

{% include "cabs_admin/footer.html" %}
