{% include "cabs_admin/header.html" %}

<center>
<div role="main">

{% if settings_list %}
    <table class="Table_list">
        <tr><td> Setting </td><td> Value </td></tr>
    {% for item in settings_list %}
        <tr>
            <form action="{% url 'cabs_admin:rmSettings' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="setting" value="{{item.setting}}">
            <td> {{item.setting}} </td>
            <td> {{item.value}}
            <input class="button rm" type="submit" value="X"></td>
            </form>
        </tr>
    {% endfor %}
    </table>
    <hr/>
{% endif %}

<div class="container">
<h2> Add/Change a Setting </h2>
<p>These settings will override previous settings in the Broker's CABS_server.conf file.
<br/>The Broker server will have to be restarted for these settings to be implemented.</p>
<form action="{% url 'cabs_admin:settingsPage' %}" method="get">
    <select class="main_choice" name="setting" onchange="this.form.submit()">
        <option value="" disabled {% if not option_choosen %} selected {% endif %}>Choose a Setting</option>
        <option value="Max_Clients" {% if option_choosen == 'Max_clients' %} selected {% endif %}>Maximum Clients</option>
        <option value="Log_Amount" {% if option_choosen == 'Log_Amount' %} selected {% endif %}>Log Level</option>
        <option value="Log_Keep" {% if option_choosen == 'Log_Keep' %} selected {% endif %}>Log History Amount</option>
        <option value="Log_Time" {% if option_choosen == 'Log_Time' %} selected {% endif %}>Log Prune Time</option>
        <option value="Reserve_Time" {% if option_choosen == 'Reserve_Time' %} selected {% endif %}>Machine Reserve Time</option> 
        <option value="Timeout_Time" {% if option_choosen == 'Timeout_Time' %} selected {% endif %}>Machine Timeout Time</option>
        <option value="Use_Blacklist" {% if option_choosen == 'Use_Blacklist' %} selected {% endif %}>Enable Blacklist</option>
        <option value="Auto_Blacklist" {% if option_choosen == 'Auto_Blacklist' %} selected {% endif %}>Automatically Blacklist Attacks</option>
        <option value="Auto_Max" {% if option_choosen == 'Auto_Max' %} selected {% endif %}>Blacklist Connections per Minute</option>
        <option value="Auth_Server" {% if option_choosen == 'Auth_Server' %} selected {% endif %}>Authentication Server</option>
        <option value="Auth_Prefix" {% if option_choosen == 'Auth_Prefix' %} selected {% endif %}>Authentication Prefix String</option>
        <option value="Auth_Postfix" {% if option_choosen == 'Auth_Postfix' %} selected {% endif %}>Authentication Postfix String</option>
        <option value="Auth_Usr_Attr" {% if option_choosen == 'Auth_Usr_Attr' %} selected {% endif %}>Authentication User Attribute</option>
        <option value="Auth_Grp_Attr" {% if option_choosen == 'Auth_Grp_Attr' %} selected {% endif %}>Authentication Group Attribute</option>
        <option value="RGS_Ver_Min" {% if option_choosen == 'RGS_Ver_Min' %} selected {% endif %}>Minimum RGS Version</option>
    </select>
</form>
{% if option_choosen %}
    <form action="{% url 'cabs_admin:setSettings' %}" method="post">
        {% csrf_token %}
        <!--If you really need to set other variables from here, you can put the option's dictionary name here in this hidden input-->
        <input type="hidden" name="setting" value="{{ option_choosen }}">
        {% if option_choosen == 'Max_Clients' %}
            <label>Specify a value between 1-250</label>
            <input type="number" name="value" min="1" max="250" step="1">
            <p>This setting chooses the maximum number of simultaneous connections that the Broker can handle at one time.</p>
        {% elif option_choosen == 'Log_Amount' %}
            <label>Specify a value from 0 to 4</label>
            <input type="number" name="value" min="0" max="4" step="1">
            <p>This setting is the amount of logging the Broker will do, with 0 being none, and 4 being full debug.
            </br>3 is usually a good amount.</p>
        {% elif option_choosen == 'Log_Keep' %}
            <label>Specify a value.</label>
            <input type="number" name="value" min="0" step="1">
            <p>This setting is the amount of logging lines the Broker will keep when it prunes old history.
            </br>The amount you want depends on your database and Log Level.</p>
        {% elif option_choosen == 'Log_Amount' %}
            <label>Specify a value in seconds</label>
            <input type="number" name="value" min="5" step="1">
            <p>This setting is the amount of time in between each pruning of the Log.
            </br>This can be a fairly high value</p>
        {% elif option_choosen == 'Reserve_Time' %} 
            <label>Specify a value in seconds</label>
            <input type="number" name="value" min="1" step="1">
            <p>This setting is the amount of time that the Broker will keep a machine reserved without recieving a connection confirmation from the Agent.
            </br>This must be be longer than the Agent's heartbeat interval (default 120 seconds), but usually is at least 2 or 3 times longer.</p>
        {% elif option_choosen == 'Timeout_Time' %}
            <label>Specify a value in seconds</label>
            <input type="number" name="value" min="1" step="1">
            <p>This setting is the amount of time the Broker will wait to hear from a machine's agent, before making the machine as inactive.
            </br>This value must be longer than the Reserve Time (default of 360 seconds).</p>
        {% elif option_choosen == 'Use_Blacklist' %}
            <select name="value">
                <option value="True">True</option>
                <option value="False">False</option>
            </select>
            <p>This enables or disables the Blacklist</p>
        {% elif option_choosen == 'Auto_Blacklist' %}
            <select name="value">
                <option value="True">True</option>
                <option value="False">False</option>
            </select>
            <p>This enables or disables the Auto Blacklisting of any addresses not in the whitelist that make too many connections per second to the Broker.</p>
        {% elif option_choosen == 'Auto_Max' %}
            <label>Specify a value in seconds</label>
            <input type="number" name="value" min="1" step="1">
            <p>This setting is the amount of time the Broker will wait to hear from a machine's agent, before making the machine as inactive.</p>
        {% elif option_choosen == 'Auth_Server' %}
            <label>Specify an Address</label>
            <input type="text" name="value">
            <p>This setting is the LDAP or Active Directory server used to Authenticate users, and their groups.
            </br>The groups can correspond to machine pools.</p>
        {% elif option_choosen == 'Auth_Prefix' %}
            <label>Specify a prefix string.</label>
            <input type="text" name="value">
            <p>For LDAP or Active Directory, this is used to build the Distinguished Name.
            </br>For LDAP you may want something like: cn=
            </br>For Active Directory you may want something like: DOMAIN\</p>
        {% elif option_choosen == 'Auth_Postfix' %}
            <label>Specify a postfix string.</label>
            <input type="text" name="value">
            <p>For LDAP or Active Directory, this is used to build the Distinguished Name.
            </br>For LDAP you may want something like: ,ou=accounts,dc=mysite,dc=org
            </br>For Active Directory you may want something like: @mysite.org</p>
        {% elif option_choosen == 'Auth_Usr_Attr' %}
            <label>Specify an attribute tag.</label>
            <input type="text" name="value">
            <p>For LDAP or Active Directory, this is used as the attribute for users.
            </br>For LDAP or Active Directory you may want something like: cn</p>
        {% elif option_choosen == 'Auth_Grp_Attr' %}
            <label>Specify an attribute tag.</label>
            <input type="text" name="value">
            <p>For LDAP or Active Directory, this is used as the attribute for groups.
            </br>For LDAP or Active Directory you may want something like: memberOf</p>
        {% elif option_choosen == 'RGS_Ver_Min' %}
            <label>Specify an RGS version.</label>
            <input type="text" name="value" title="RGS version number" pattern="^\d+.\d+.\d+$">
            <p>This should be the lowest version of RGS you are willing to connect with.
            </br>This should be 3 numbers separated between 2 periods, no whitespace.</p>
        {% else %}
            
        {% endif %}
        <input class="button" type="submit" value="Submit">
    </form>
{% endif %}

</div>
</div>
</center>
