{% include "cabs_admin/header.html" %}

<center>
<div role="main">

<div style="height: 2.1rem">
{% if selected_pool %}
    <form action="{% url 'cabs_admin:commentPools' %}" method="post">
    {% csrf_token %}
        <label>Explain why {{selected_pool}} is disabled:</label>
        <input type="text" name="reason" title="Reason">
        <input type="hidden" name="pool" value="{{selected_pool}}">
        <input class="button rm" type="submit" value="OK" style="float: inherit">
    </form>
{% else %}
Hover over the Disabled buttons to see the reason why they were disabled.
{% endif %}
</div>
<table class="table_list">
    <tr><td> Pool </td><td> Description </td><td> Secondary </td><td> Groups </td></tr>
    <tr></tr>
{% for pool in pool_list %}
    <tr>
        <form action="{% url 'cabs_admin:togglePools' %}" method="post" name="toggleMachine">
        {% csrf_token %}
        <input type="hidden" name="pool" value="{{pool.name}}">
        <td> {{pool.name}} </td>
        <td> {{pool.description}} </td>
        <td> {{pool.secondary}} </td>
        <td> {{pool.groups}}
        <input class="button rm" type="submit" name="rm" value="X">
        <button class="button rm" type="submit" name="toggle" value="{{pool.name}}" {% if pool.deactivated %} title="{{pool.reason}}" style="background-color: black; color: white">Disabled{% else %}>Enabled{% endif %}</button>
        </td>
        </form>
    </tr>
{% endfor %}
</table>
<hr/>
<div class="container">
    <h2>Add/Change a Pool</h2>
    <form action="{% url 'cabs_admin:setPools' %}" method="post">
    {% csrf_token %}
    <label>Pool Name:</label>
    <input type="text" name="name" title="Pool Name" pattern="^\w+$">
    <label>Pool Description:</label>
    <input type="text" name="description" title="Pool Description">
    <label>Secondary Pools:</label>
    <input type="text" name="secondary" title="Comma seaprated list of Secondary Pools" pattern="^(\w+(,\w+)*)|()$">
    <label>Authorized Groups:</label>
    <input type="text" name="groups" title="Comma seaprated list of Groups" pattern="^(\w+(,\w+)*)|()$">
    <input class="button" type="submit" value="Submit">
</div>
</div>
</center>
